---
import Badge from './common/Badge.astro';
import BaseButton from '../components/common/Button.astro';

import type { Portfolio } from '../types/Portfolio';
interface Props {
  portfolio: Portfolio;
}

const { portfolio } = Astro.props;

const anchorIcons = {
  app: 'i-ph-app-window-bold',
  code: 'i-ph-code-bold',
  link: 'i-ph-link-bold',
};

const cardImageUrl = `url("${portfolio.imageUrl}")`;
---

<div
  class="card-background flex flex-col justify-end max-w-sm xl:max-w-lg bg-cover border border-gray-200 rounded-lg shadow"
>
  <div class="h-30 md:h-40 xl:h-50"></div>
  <div class="p-5 bg-white/75 space-y-3">
    <h5 class="text-2xl font-bold tracking-tight text-gray-900">
      {portfolio.title}
    </h5>
    {
      portfolio.badges && (
        <p>
          {portfolio.badges.map((badge) => (
            <Badge variant={badge.type}>{badge.text}</Badge>
          ))}
        </p>
      )
    }
    {
      portfolio.info && (
        <p class="font-semibold text-gray-900">{portfolio.info}</p>
      )
    }
    {
      portfolio.anchors && (
        <div class="flex flex-wrap justify-center gap-2">
          {portfolio.anchors.map((anchor) => (
            <BaseButton
              link={anchor.url}
              style="dark"
              iconClass={'text-xl ' + anchorIcons[anchor.type]}
            >
              <span class="ml-2 capitalize">
                {anchor.text ? anchor.text : anchor.type}
              </span>
            </BaseButton>
          ))}
        </div>
      )
    }
  </div>
</div>

<style define:vars={{ cardImageUrl }}>
  .card-background {
    background-image: var(--cardImageUrl);
  }
</style>
