---
import Badge from './common/Badge.astro';

import type { Portfolio } from '../types/Portfolio';
interface Props {
  portfolio: Portfolio;
}

const { portfolio } = Astro.props;

const anchorIcons = {
  app: 'i-ph-app-window-bold',
  code: 'i-ph-code-bold',
  link: 'i-ph-link-bold',
};

const cardImageUrl = `url("${portfolio.imageUrl}")`;
---

<div
  class="card-background flex flex-col justify-end max-w-sm xl:max-w-lg bg-cover border border-gray-200 rounded-lg shadow"
>
  <div class="h-30 md:h-40 xl:h-50"></div>
  <div class="p-5 bg-white/75 space-y-3">
    <h5 class="text-2xl font-bold tracking-tight text-gray-900">
      {portfolio.title}
    </h5>
    {
      portfolio.badges && (
        <p>
          {portfolio.badges.map((badge) => (
            <Badge variant={badge.type}>{badge.text}</Badge>
          ))}
        </p>
      )
    }
    {
      portfolio.info && (
        <p class="font-semibold text-gray-900">{portfolio.info}</p>
      )
    }
    {
      portfolio.anchors && (
        <div class="space-y-2">
          {portfolio.anchors.map((anchor) => (
            <a href={anchor.url}>
              <button class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300">
                <span class:list={['text-xl', anchorIcons[anchor.type]]} />
                <span class="ml-2 capitalize">
                  {anchor.text ? anchor.text : anchor.type}
                </span>
              </button>
            </a>
          ))}
        </div>
      )
    }
  </div>
</div>

<style define:vars={{ cardImageUrl }}>
  .card-background {
    background-image: var(--cardImageUrl);
  }
</style>
